
ul {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  gap: 0.6em;
  padding: 0.6em 0em;
}

li, .add-panel{
  border: 1px solid var(--vt-c-divider-dark-2);
  /* margin: 0.3em; */
  padding: 0.3em 1em 0.3em 1em;
  display: flex;
  flex-direction: column;
}

.action-button {
  justify-self: stretch;
  margin: 0.5em 0em;
  flex: 1;
}

label {
  width: 8em;
}

li div, .add-panel div {
  display: flex;
  gap: 0.5em;
}
